<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burger Selection App</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/public/assets/js/burgers.js"></script>
 	<link rel="stylesheet" href="/public/assets/css/burger_style.csss" type="text/css" />
</head>
<body>
  {{{ body }}}
</body>
</html>

