<div class="container m-0 p-4 mx-auto mainWrapper">
  <div class="row headerRow text-center">
    <div class="col headerColumn">
      <h1>Eat-Da-Burger</h1>
      <p> virtually create, select and modify your burgers! </p>
    </div> <!-- .headerColumn ends -->
  </div> <!-- .headerRow ends -->

  <div class="row d-flex justify-content-center align-items-center">

    <div class="col text-center my-4" id="burgerImageDiv">
      <h5>Yummy Burger!!!</h5>
      
    {{!-- <img src="spicy_chicken.jpg.jpg" alt="Spicy Chicken Sandwich" id="burgerImage" width="300" height="200" />   --}}
      <img src="https://source.unsplash.com/random/300x200" id="burgerImage" /> 
      
    <img src="https://github.com/ssh1sharma/Burger/blob/fefc94506eeb2698ce39679fc1d8b0ac0e722124/public/assets/img/spicy_chicken.jpg" width="300" height="200" id="burgerImage" /> 

      </div>
    <div class="col">
      
      <h5 class="mt-4">Add a Burger</h5>
      <form class="create-form">

        <div class="form-group">
          <label for="burgerLabel" class="inputLabel">Burger Name: &nbsp;</label> 
          <input type="text" id="burgerLabel" name="burger_name"> 
          <button type="submit" class="addBurgerBtn">Add to the List</button>
        </div>

        {{!--  
 // Codes block below for checkboxes. It looks like it is not doing much, so delete if not needed!

  <div class="form-group">
    <label for="devouredLabel">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured!
  </div> 
  --}}
      </form>
    </div> <!--  ends -->
    
    <hr>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6 p-2 newBurgerField">
      <h5>Newly created burgers!</h5>
      <br>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm col-md-6 p-2 devouredBurgerField">
      <h5>Burgers devoured!</h5>
      <br>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div> <!-- .mainSectionRow ends -->
  
</div> <!-- .mainWrapper ends -->